

body {
	margin: 0px
	padding: 0px;
}

.background-container {
	background-color: hotpink;
}

.keys {
	display: flex;
	justify-content: center;
	align-items: center;

}

.key {
	transition:all 0.7s;
	width: 100px;
	border: 1px solid #000;
	text-align: center;
}

.kdb {
	font-size: 40px;
	display: block;
}

/* modifiers */

.playing {
	transform:scale(1.2);
	border: 3px solid yellow;
}





